<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <php>
    <!-- <server name="SYMFONY" value="/path/to/symfony" /> -->
  </php>
  <testsuites>
    <testsuite name="Hpatoio Bitly Client Test Suite">
      <directory>./tests/Bitly/Api/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
